.friendList{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.item{
  box-shadow: rgba(0, 0, 0, 0.35) 0 2px 5px;
  display: flex;
  align-items: center;
  column-gap: 15px;
  min-width: 250px;
  height: 70px;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 10px;
}

.status{
  background-color: green;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.online{
  background-color: red;
}

.avatar{
  object-fit: contain;
}

.name{
  font-size: 20px;
}
