@import-normalize; /* bring in normalize.css styles */

h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


.app{
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  color: #010101;
  padding: 20px;
}

.stats{
  display: flex;
  column-gap: 40px;
}
